@import url('https://fonts.googleapis.com/css2?family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Piazzolla', serif;
}
:root{
    --main-bg : #1e272e;
    --main-color : #0097e6;
}
html{
    font-size: 62.5%;
}
.row{
    margin: 0;
}
body{
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.main_menu{
    color: var(--main-bg);
}
.navbar{
    color: #fff;
    background-color: var(--main-bg);
    padding: 2rem 0;
}
.navbar li{
    margin-left: 2rem;
}
.navbar a{
    color: #fff;
    font-size: 1.8rem;
}
.navbar a:hover{
    color: var(--main-color);
}
.navbar toggler{
    background-color: grey;
}
.fa-snowflake{
    transition: all linear;
    animation: rotate 2s linear infinite;
    color: #0097e6;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.main_header_left{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_left p{
    font-size: 2rem;
}
.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left .text-color{
    color: var(--main-color);
}
.main_header_left button{
    border: none;
    padding: 0.8rem 1.4rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    box-shadow: 0 8px 6px -6px #000;
    outline: none;
}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color);
}
.main_header_right{
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main_header_right figure img{
    filter: drop-shadow(0 0.5rem 1rem rgba(0 0 0 0.3));
}
.errimg img{
 width: 60rem;
 height: 30rem;
}
.temp_form{
    width: 60%;
    margin: 10rem auto 6rem;
    position: relative;
}
.temp_form input[type = "text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background-color:#1e202b;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
}
::placeholder{
    color: #bfc1c8;
}
.temp_form input[type = "submit"]{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
    background: #009ad8;
    color: white;
    padding: 0 3rem;
}
.temp_form input[type = "submit"]:hover{
    color: #009ad8;
    background-color: #fff;
}
.tempInformation{
    width: 50rem;
    margin: auto;
    min-height : 20rem;
    background-color: #323544;
    padding: 1rem;
    border-radius: 3rem;
    font-family: "Roboto",'sans- serif';
}
.top_layer{
    width: 100%;
    height: 20%;
    background-color: #2d303d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}
.top_layer p{
    color: #fff;
    font-weight: 300;
    padding: 2rem;
    font-size: 1.3rem;
}
.main_layer{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.main_layer #city_name{
    color: #bfc1c8;
    font-weight: 300;
    font-size: 2rem;
}
.main_layer .middle_layer{
    display: flex;
    color: #fff;
}
.main_layer .middle_layer p,
.main_layer .middle_layer .fa{
    font-weight: 900;
    font-size: 7rem;
    padding-left: 2rem;
}
.fa{
    color: #009ad8;
}
sup{
    font-size: 6rem;
    margin-top: -2rem;
}
/* .data_hide{
    visibility: hidden;
    transition: all 0.s linear;
} */
footer{
    width: 100%;
    background-color: var(--main-bg);
}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    line-height: 5rem;
}
@media(max-width : 768px){
    .main_header_left{
        margin: 5rem 0;
        height: auto;
    }
    .main_header_right{
        margin-top: 3rem;
    }
    .temp_form{
        width: auto;
    }
    .tempInformation{
        width: auto;
    }
    .main_layer .middle_layer p,
    .main_layer .middle_layer .fa{
        font-size: 5rem;
        padding-left: 1rem;
    }
}
/* body {
    background: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
    }
    
    html,body {
    font-size: 62.5%;
    height: 100%;
    }
    
    html {
    background: #eee;
    }
    
    .box {
    width: 20vw;
    height: 60vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 3rem rgba(0, 0, 0, 0.2);
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 20rem;
    min-height: 35rem;
    }
    
    .wave_one {
    opacity: 0.3;
    position: absolute;
    top: 110%;
    left: 50%;
    background: #fff;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
    }
    
    .wave_two {
    animation: drift 7000ms infinite linear;
    opacity: 0.2;
    z-index: 3 !important;
    position: absolute;
    top: 110%;
    left: 50%;
    background: #fff;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    }
    
    .wave_three {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.1;
    position: absolute;
    top: 110%;
    left: 50%;
    background: #fff;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    }
    
    
    .box::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
    }
    
    @keyframes drift {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    }
    
    .info {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
    }
    
    .location {
    margin-top:1.5rem;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
    font-weight: 600;
    }
    
    .fa-street-view {
    animation: rotates 3s linear infinite alternate;
    }
    
    @keyframes rotates {
    from {
    
    transform: translateX(-0.5rem);
    }
    to {
    
    transform: translateX(0.5rem);
    
    }
    }
    
    #date {
    text-align: center;
    margin-top: 0.5rem;
    color: #57606f;
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    }
    
    .temp {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
    }
    
    .tempmin_max {
    text-align: center;
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color: #57606f;
    }
    
    #weathercon {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    }
    
    #weathercon .fas {
    font-size: 6rem;
    animation: fas-anime 3s linear infinite alternate;
    }
    
    @keyframes fas-anime {
    from {
    transform: scale(1.1);
    }
    to {
    transform: scale(1.5)
    }
    }
    
    @media (max-width: 600px) {
    .box {
    width: 90vw;
    height: 80vh;
    }
    
    .wave {
    top: 85%;
    }
    
    #weathercon {
    font-size: 5em;
    }
    
    .info {
    font-size: 1.5em;
    }
    }
    
    @media (max-height: 500px) {
    .box {
    height: 80vh;
    }
    
    .wave {
    top: 115%;
    }
    }
    
    body > span {
    width: 100vw;
    text-align: center;
    color: grey;
    }
    
    .inputData {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .inputField {
    width: 50%;
    margin: auto;
    border-radius: 5rem;
    padding: 1rem 1rem;
    outline: none;
    font-size: 1.5rem;
    }
    
    .errorMsg {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
    } */